node_modules
dist
.env
.env.development
.env.production
.env.local
.env.*.local
!.env.example
.DS_Store   
.vscode
.idea       
*.log
coverage
*.local
npm-debug.log*  
*.local.json    
/build
*.tsbuildinfo
.cache
.next
out
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
package-lock.json
settings.local.json
